@import url('/home/utkn/.cache/wal/colors-gtkcss.css');

* {
  all: unset;
}

.bar {
  color: #fff;
  border-radius: 0px 0px 5px 5px;
}

.bar-content {
  padding: 1px 0px;
}

.launcher-search-background {
  border-radius: 10px 10px 0px 0px;
	background: @background;
  padding: 0px 5px;
  min-height: 16px;
}

.launcher-search-foreground {
  background: transparent;
  padding: 0px 5px 0px 5px;
}

.launcher-window-frame {
  margin-top: 6px;
}

.launcher-list {
  border-radius: 0px 0px 10px 10px;
  background: @background;
  color: #fff;
  padding: 5px;
}

scale trough highlight {
  background-color: @color3;
  border-radius: 10px;
}

scale trough {
  border-radius: 50px;
  min-height: 5px;
  min-width: 30px;
}

spinner:checked { 
  opacity: 1; 
  animation: spin 1s linear infinite; 
}

.window-frame {
  border-radius: 10px;
  background: @background;
  padding: 5px;
}


.false-button {
  background-color: #303030;
  border-radius: 5px;
  padding: 5px;
}

button {
  background-color: #303030;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  background-color: #393939;
}

button:active {
  background-color: #424242;
}

tooltip {
  border-radius: 5px; 
  background: @background; 
  color: #fff; 
  border-radius: 5px; 
  padding: 5px;
}

menu {
  border-radius: 5px; 
  background: @background; 
  color: #fff; 
  border-radius: 5px;
  padding: 5px 0px;
}

menuitem {
  padding: 0px 10px;
}

menuitem:disabled {
  opacity: 0.5;
}

menuitem:hover {
  background: #303030;
}

.groupoid {
  font-size: small;
  padding: 0px 10px;
  border-radius: 8px;
}

.entry-highlight {
  font-size: small;
  padding: 3px 10px;
  border-radius: 8px;
  background-color: #303030;
}

.workspace-icon {
  padding: 5px; 
  border-radius: 5px;
}

.workspace-icon-highlight {
  border: 1px solid @color3; 
  border-radius: 5px;
}

.workspace-preview-window-bounds {
  border: 1px solid @color10; 
  border-radius: 2px;
  opacity: 0.8;
}

.monitor-part-low {
  color: #99ff9f;
}

.monitor-part-medium {
  color: #f3ff99;
}

.monitor-part-high {
  color: #ffb599;
}

.monitor-part-critical {
  color: #ff9999;
}

 .monitor-gauge {
  color: @color3; 
  background: #fff; 
  font-size: 2px; 
  min-width: 14px; 
  min-height: 14px;
}
